<%= render partial: 'sub', locals: { sub: @sub } %>
<%= button_to 'Create post', new_sub_post_url(@sub.id), method: :get, class: 'btn' %>
<%= button_to 'Back to all subs', subs_url, method: :get, class: 'btn' %>
<% if current_user.id == @sub.moderator_id %>
  <%= button_to 'Delete sub', sub_url(@sub.id), method: :delete, class: 'btn' %>
<% end %>

<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<h1>Posts</h1>
<% if @sub.posts.empty? %>
  <p>Nothing here...why don't you post something?</p>
<% else %>
  <% @sub.posts.each do |post| %>
    <h4><%= link_to post.title, sub_post_url(post.sub.id, post.id) %></h4>
  <% end %>
<% end %>