<%= render partial: 'post', locals: { post: @post } %>
<%= button_to 'Back to sub', sub_url(@post.sub.id), method: :get, class: 'btn' %>
<% if current_user.id == @post.author_id %>
  <%= button_to 'Delete post', sub_post_url(@post.sub.id, @post.id), method: :delete, class: 'btn' %>
<% end %>

<h2>Comments</h2>

<% if @post.comments.empty? %>
  <p>No comments yet... :(</p>
<% else %>
  <% @post.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p>says <%= comment.author.username %></p>
    <hr />
  <% end %>
<% end %>

<h3>Add a comment</h3>
<form action="<%= sub_post_comments_url(@post.sub.id, @post.id) %>" method="post">
  <input type="hidden"
    name="authenticity_token"
    id=""
    value="<%= form_authenticity_token %>">
    
  <textarea
    name="comment[content]"
    ></textarea>

  <input class="btn" type="submit" value="Add comment">
</form>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>